{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('documents') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('documents') }}
{% endblock %}

{% block title %}Documents{% endblock %}

{% block body %}
    <h3>Documents List</h3>
    <div class="uk-grid-match uk-grid-column-small uk-grid-row-small uk-child-width-1-4@l uk-child-width-1-2@l" uk-grid>

    {% for item in data %}
        <div class="uk-card" onclick="function showFullPdf() {
                let file = {{ item.pdfLink | json_encode()}};
                console.log(file);
                return file;
                }
                showFullPdf()">
            <div class="uk-card-hover uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-align-center">
                        <div>
                            {{ item.id }}
                            {{ item.title }}
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <img src="{{ item.thumbnailLink }}" width="100" height="100" alt="{{ item.title }}" title="{{ item.title }}"/>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
{% endblock %}


