{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('documents') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('documents') }}
{% endblock %}
{% block title %}Add new Document{% endblock %}
{% block body %}
    <h3 class="uk-text-muted">Add a new document</h3>
{#<a href="{{ asset('uploads/pdf/' ~ document.pdfFilename) }}">View brochure (PDF)</a>#}



{{ form_start(form) }}
    {{ form_row(form.pdf) }}
{{ form_end(form) }}
{% endblock %}